.chat-main
  .header
    .header__left
      %h2.group-name
        = @group.name
      .group-list
        Member :&nbsp
        - @group.users.each do |user|
          = user.name
    .header__right
      = link_to edit_group_path(@group) do
        %p.btn Edit
  .main
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .text-area
        = f.text_field :content, class: 'text-area__box', placeholder: 'type a message'
        = f.label :image, class: 'text-area__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'text-area__image__file'
        .submit
          = f.submit 'Send', class: 'submit__btn'